  .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


  h3.idented-left{
    margin-left: 15px;
  }

  div.with-padding-top{
    padding-top: 9px;
  }

  label.custom-label{

   background-color: #95A5A6;
   border-radius: 5px 5px 5px 5px;
   margin-top: 2px;
   padding: 8px;
   text-align: center;
   vertical-align: middle;
 }

 div.with-padding-left{
  padding-left: 10px;
}

/*Para los el menu superior que indica el progreso*/

button.progress-nav{pointer-events: none;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button.progress-nav-active{
 color: #666666;
 font-weight: bold;
}

/* Fin Para los el menu superior que indica el progreso*/

/* Para la muralla de tarjetas de deliveires */
.card {
  background-color:#efefef;
  border: 1px solid black;
  width: 225px;
  margin: 15px;
  height: 110px;
}

.cardHeader {
  background-color: #006dcc;
  font-size:14pt;
  color:white;
  padding:5px;
}

.cardClose {
  color: white;
  font-weight:bold;
  margin-right:5px;
}

.cardContainer {
  width:90%;
}

.cardBody {
  padding-left: 5px;
}

/* Fin Para la muralla de tarjetas de deliveires */

/* Bootstrap overrides */
.navbar-inner {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

.navbar .nav {
  margin-left:50px;
  margin-top:15px;
}

.close {
  opacity: 1.0;
}

/*
vertical tabs
fuente http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3
*/


/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
/*Fin vertical tabs*/



hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}


div.button-wrapper{
  position: fixed;
  top: 35%;
  right: 20px;
}
